[pymontecarlo]
programs=casino2,nistmonte,penepma,penshower,winxray,pap,xpp

[penelope]
pendbase=/penelope2011/pendbase

[penepma]
dumpp=60
exe=

[nistmonte]
java=
jar=

[casino2]
exe=

[winxray]
exe=