[pymontecarlo]
programs=pymontecarlo.program.casino2,pymontecarlo.program.nistmonte,pymontecarlo.program.penepma,pymontecarlo.program.winxray

[penelope]
pendbase=/penelope2011/pendbase

[penepma]
dumpp=60
exe=

[nistmonte]
java=
jar=

[casino2]
exe=

[winxray]
exe=