# Input directories
src.dir=${basedir}/code
doc.dir=${basedir}/doc

# Output directories
tmp.dir=/tmp
lib.dir=${tmp.dir}/lib
build.dir=${tmp.dir}/build
dist.dir=${tmp.dir}/dist

workspace.dir=
pythondev.dir=${workspace.dir}/pydev
fortrandev.dir=${workspace.dir}/fortrandev
javadev.dir=${workspace.dir}/javadev

####################
# Program specific #
####################

# PENELOPE
penelope.project.dir=${fortrandev.dir}/penelope

# NISTMonte
nistmonte.project.dir=${javadev.dir}/NISTMonte

# Casino 2
casinotools.project.dir=${pythondev.dir}/casinoTools

# WinXRay
winxraytools.project.dir=${pythondev.dir}/winxrayTools
databasestools.project.dir=${pythondev.dir}/DatabasesTools
drixutilities.project.dir=${pythondev.dir}/DrixUtilities

# PAP
specimentools.project.dir=${pythondev.dir}/SpecimenTools
databasestools.project.dir=${pythondev.dir}/DatabasesTools
pouchoupichoirmodels.project.dir=${pythondev.dir}/PouchouPichoirModels
massabsorptioncoefficienttools.project.dir=${pythondev.dir}/MassAbsorptionCoefficientTools
drixutilities.project.dir=${pythondev.dir}/DrixUtilities
numericalmethodstools.project.dir=${pythondev.dir}/NumericalMethodsTools

