# Input directories
src.dir=${basedir}/code

# Output directories
tmp.dir=/tmp
lib.dir=${tmp.dir}/lib
build.dir=${tmp.dir}/build
dist.dir=${tmp.dir}/dist
doc.dir=${tmp.dir}/doc

workspace.dir=
pythondev.dir=${workspace.dir}/pydev
fortrandev.dir=${workspace.dir}/fortrandev
javadev.dir=${workspace.dir}/javadev

####################
# Program specific #
####################

# PENELOPE
penelope.project.dir=${fortrandev.dir}/penelope

# NISTMonte
nistmonte.project.dir=${javadev.dir}/NISTMonte

# Casino 2
casinotools.project.dir=${pythondev.dir}/casinoTools

# WinXRay
winxraytools.project.dir=${pythondev.dir}/winxrayTools
databasestools.project.dir=${pythondev.dir}/DatabasesTools
drixutilities.project.dir=${pythondev.dir}/DrixUtilities